<div class="container">
    <div class="row">
        <div class="col-col-12 col-sm-12 col-mg-12 col-lg-12 col-xl-12 col-xxl-12">
            <br>
            <div class="row g-3">
                <div class="col col-12 col-2 col-sm-2 col-mg-2 col-lg-2 col-xl-2 col-xxl-2">
                    <label for="" class="form-label">Book Title</label>
                </div>
                <div class="col col-12 col-10 col-sm-10 col-mg-10 col-lg-10 col-xl-10 col-xxl-10">
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-2 col-sm-2 col-mg-2 col-lg-2 col-xl-2 col-xxl-2">
                </div>
                <div class="col col-12 col-10 col-sm-10 col-mg-10 col-lg-10 col-xl-10 col-xxl-10">
                    <button class="btn btn-success">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>